.button:hover {
    -fx-background-color: #7cec37;
    /*-fx-text-fill: -fx-text-inner-color red;*/
    /*-fx-background-image: url("/images/wallpaper.jpg") ;*/
}
.button:selected{
    /*-fx-background-color: white;*/
    -fx-border-width: 20px;
    -fx-border-color: yellow;
}

.button {
    /*-fx-background-color: red;*/
    /*-fx-background-image: url("/images/wallpaper.jpg") ;*/
}

